html {
    transition: background-color 0.5s;
}

[type="checkbox"] {
    appearance: none;
    position: relative;
    /*border: max(2px, 0.1em) solid #fff;*/
    border-radius: 1.25em;
    width: 2em;
    height: 1em;
    background-color: lightgray;
    transition: background-color 0.5s;
}

[type="checkbox"]::before {
    content: "";
    position: absolute;
    left: 0;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: scale(0.8);
    background-color: #fff;
    transition: left 250ms linear;
}

[type="checkbox"]:checked::before {
    background-color: yellow;
    left: 0.95em;
}

[type="checkbox"]:checked {
    background-color: darkblue;
}

html:has([type="checkbox"]:checked) {
    background-color: #222;
}