* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}
body {
    width: 100vw;
    height: 100%;
    background-color: #fcf8f5;
    display: flex;
    align-items: center;
}
.display-window {
    width: 100vw;
    padding: 50px;
}
.title {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 40px;
}
.dessert-menus {
    width: 60%;
}
.desserts {
    display: grid;
    gap: 30px;
}
.image-area img {
    width: 100%;
    height: 100%;
}