* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}
body {
    width: 100vw;
    height: 100%;
    background-color: #fcf8f5;
    display: flex;
    align-items: center;
}
.display-window {
    display: flex;
    gap: 40px;
    width: 100vw;
    padding: 100px 120px;
}
.title {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 40px;
}
.dessert-menus {
    width: 60%;
}
.desserts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.dessert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-bottom: 20px;
}
.image-area {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 15px;
    left: 50%;
    transform: translateX(-50%);
}
.image-area img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.add-to-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 12px 30px;
    min-width: 180px;
    z-index: 10;
    left: 50%;
    bottom: 0;
    border: 1px solid #B0ABA8;
    border-radius: 50px;
    background-color: #FFFEFF;
    transform: translate(-50%, 50%);
    cursor: pointer;
}
.dessert-text-area {
    margin-top: 45px;
}
.main-text {
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0;
}
.cart {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 500px;
    min-width: 450px;
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 15px;
    
}
.cart-title {
    font-size: 36px;
    font-weight: 900;
    color: #B53F21;
}
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
}
.modal > .modal-panel {
    display: flex;
    flex-direction: column;
    width: 600px;
    border-radius: 15px;
    padding: 20px 2.5em;
    background-color: #fff;
}
.modal-panel > img {
    width: 50px;
    height: 50px;
    margin: 20px 5px;
}
.modal-panel-title {
    font-size: 2.3em;
    font-weight: 900;
}
.modal-panel-subtitle {
    font-size: 0.8em;
    padding: 10px 0;
}
.ordered-menu-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 25px 0;
    padding: 30px;
    border-radius: 15px;
    background-color: #fcf8f5;
}
.ordered-menu-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-front {
    display: flex;
    align-items: center;
    gap: 14px;
}
.info-front p, .info-front span {
    font-size: 0.8em;
}
.info p.menu-title {
    font-weight: 900;
    margin-bottom: 5px;
}
.info span:nth-child(2) {
    margin-right: 15px;
}
.order-total {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.order-total span:nth-child(2) {
    font-size: 24px;
    font-weight: 900;
}
.start-order {
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 50px;
    margin: 10px 0 20px 0;
    background-color: #c83b0e;
    padding: 15px 0;
    color: #fff;
}
.info-front > img {
    width: 50px;
    height: 50px;
    /*background-color: #c83b0e;*/
    border: 1px solid rgb(0, 0, 0, 0.5);
}

@media screen and (max-width: 1800px) {
    .desserts {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 1240px) {
    .desserts {
        grid-template-columns: repeat(1, 1fr);
    }
}