* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

p {
    margin: 0;
    padding: 0;
}

.service-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    padding: 20px 0;
}

.title {
    font-weight: 800;
    font-size: 28px;
    padding: 20px 0;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 275px;
    gap: 20px;
}

.service {
    width: 425px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 1px 1px 5px #b9b9b9;
    padding: 20px;
}

.service-icon {
    font-size: 40px;
}

.service-title {
    font-weight: 700;
    font-size: 24px;
    padding: 10px 0;
}

.service-sub {
    text-align: center;
}

.service-button {
    padding: 8px 20px;
    margin-top: 20px;
    border-radius: 3em;
    background-color: #0577FC;
    color: #fff;
}