* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-weight: 800;
    font-size: 28px;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
}