* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
}

a {
    text-decoration: none;
    color: inherit;
}

.visual-container {
    width: 1280px;
    /*height: 4000px;*/
    margin: 0 auto;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1280px;
    color: #c2c2c2;
}

.nav-bar-area {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100vw;
    background-color: #000;
}

ul {
    display: flex;
    list-style-type: none;
}

ul[class$="nav"] {
    gap: 25px;
}

ul[class="nav"] {
    gap: 45px;
}

ul[class$="nav"]>.nav {
    padding: 1.1em 0;
    font-size: 0.7em;
}

.search-area {
    margin-top: 22px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-area>img {
    width: 8em;
    height: 3.5em;
    border: 1px solid #e2e2e2;
}

.shortcuts {
    display: flex;
    align-items: center;
    gap: 32px;
}

.shortcuts>a {
    font-size: 34px;
}

/* 이것은 임시입니다 */
.shortcuts>a:nth-of-type(1)::before {
    content: "1";
}

.shortcuts>a:nth-of-type(2)::before {
    content: "2";
}

.shortcuts>a:nth-of-type(3)::before {
    content: "3";
}

.searchbar {
    position: absolute;
    left: 150px;
    bottom: 10%;
    width: 37%;
    border-radius: 3em;
    padding: 13px 25px;
    font-size: 15px;
    border: none;
    background-color: #efefef;
}

.ser {
    position: absolute;
    top: 55%;
    left: calc(100px + 37%);
    transform: translateY(-50%);
}

.nav-bar-2 {
    position: relative;
    gap: 40px;
    font-size: 25px;
    justify-content: initial;
    margin-top: 33px;
    color: #000;
}

label[for="list"] {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 3em;
    color: #fff;
    background-color: blue;
    cursor: pointer;
}

label[for="list"]:first-of-type {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 8px;
    z-index: 2;
}

label[for="list"]:last-of-type {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10px;
    z-index: 1;
}

input[name="list"]:checked~label:first-of-type {
    display: none;
}

.toggle-display {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    height: 400px;
    width: 900px;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: #fff;
}

input:checked~.toggle-display {
    display: flex;
}

.slide-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 1280px;
    /*margin-left: calc((100vw - 1280px) / 2);*/
    margin-left: 1280px;
    margin-top: 20px;
    border-radius: 15px;
    gap: 20px;
    animation: Slide 16s;
    animation-iteration-count: infinite;
}

.slide-content {
    display: flex;
    flex-shrink: 0;
    width: 1280px;
    height: 520px;
    border-radius: 15px;
    background-color: #000;
}

@keyframes Slide {
    0% {
        margin-left: calc(-1300px * 0);
    }

    18% {
        margin-left: calc(-1300px * 0);
    }

    20% {
        margin-left: calc(-1300px * 1);
    }

    38% {
        margin-left: calc(-1300px * 1);
    }

    40% {
        margin-left: calc(-1300px * 2);
    }

    58% {
        margin-left: calc(-1300px * 2);
    }

    60% {
        margin-left: calc(-1300px * 3);
    }

    78% {
        margin-left: calc(-1300px * 3);
    }

    80% {
        margin-left: calc(-1300px * 4);
    }

    98% {
        margin-left: calc(-1300px * 4);
    }

    100% {
        margin-left: calc(-1300px * 0);
    }
}

.yeotbogi {
    margin-top: calc(50px);
}

.yeotbogi-title {
    font-size: 27px;
    font-weight: 600;
    padding: 40px 0;
}

.yeotbogi-nav {
    padding: 8px 18px;
    font-size: 14px;
    border-radius: 3em;
    border: 1px solid #e2e2e2;
    color: #727272;
}

input[name="y-category"]:checked+label {
    background-color: blue;
    color: #fff;
    font-weight: 800;
}

.yeotbogi-contents {
    display: none;
    margin-top: 20px;
}

ul:has(input[id="y1"]:checked)~#yeot1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 455px;
    gap: 30px;
}

ul:has(input[id="y2"]:checked)~#yeot2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 455px;
    gap: 30px;
}

ul:has(input[id="y3"]:checked)~#yeot3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 455px;
    gap: 30px;
}

ul:has(input[id="y4"]:checked)~#yeot4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 455px;
    gap: 30px;
}

.yeotbogi-content>img {
    width: 100%;
    aspect-ratio: 1/1;
    border: 1px solid #000;
}

.content-company {
    font-size: 14px;
    margin-top: 20px;
    color: rgb(0, 0, 0, 0.4)
}

.content-name {
    margin-top: 10px;
    font-size: 14px;
}

.content-event {
    margin-top: 5px;
    font-weight: 600;
    font-size: 20px;
    color: #2e36a7;
}

.content-tags {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}

.tag {
    padding: 2px 6px;
    border-radius: 5px;
    font-weight: 400;
}

.best {
    color: rgb(50, 50, 255);
    background-color: rgb(50, 200, 255, 0.1);
}

.free {
    color: #38b142;
    background-color: #ddffe0;
}

.sales {
    color: rgb(255, 50, 50);
    background-color: rgb(255, 0, 0, 0.1);
}

.new {
    color: #00b;
    background-color: rgb(0, 0, 255, 0.1);
}