* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.visual-container {
    width: 1280px;
    height: 4000px;
    margin: 0 auto;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
    color: #c2c2c2;
}

.nav-bar-area {
    background-color: #000;
}

ul[class$="nav"] {
    display: flex;
    list-style-type: none;
    gap: 25px;
}
ul[class="nav"] {
    gap: 45px;
}

ul[class$="nav"]>.nav {
    padding: 1.1em 0;
    font-size: 0.7em;
}

/*.left-nav>.nav:first-of-type,
.right-nav>.nav:first-of-type {
    margin-left: -10px;
}*/

.search-area {
    margin-top: 22px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-area>img {
    width: 8em;
    height: 3.5em;
    border: 1px solid #e2e2e2;
}

.shortcuts {
    display: flex;
    align-items: center;
    gap: 32px;
}

.shortcuts>a {
    font-size: 34px;
}

/* 이것은 임시입니다 */
.shortcuts>a:nth-of-type(1)::before {
    content: "1";
}

.shortcuts>a:nth-of-type(2)::before {
    content: "2";
}

.shortcuts>a:nth-of-type(3)::before {
    content: "3";
}

.searchbar {
    position: absolute;
    left: 150px;
    bottom: 10%;
    width: 37%;
    border-radius: 3em;
    padding: 13px 25px;
    font-size: 15px;
    border: none;
    background-color: #efefef;
}

.ser {
    position: absolute;
    top: 55%;
    left: calc(100px + 37%);
    transform: translateY(-50%);
}

.nav-bar-2 {
    gap: 40px;
    font-size: 25px;
    justify-content: initial;
    margin-top: 33px;
    color: #000;
}

label[for="list"] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 3em;
    color: #fff;
    background-color: blue;
}

label[for="list"]:first-of-type {
    font-size: 8px;
}