* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 252, 252);
}

.notice-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.notice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #e2e2e2;
}

.notice:last-of-type {
    border: none;
}

.notice-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.notice-classification {
    font-size: 14px;
    font-weight: 600;
    padding: 0.3em 1.8em;
    color: #fff;
    border-radius: 2em;
}

.notice-title {
    font-weight: 700;
}

.notice-date {
    color: rgb(121, 121, 121);
}

.imp {
    background-color: red;
}

.inf {
    background-color: blue;
}
