* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg {
    width: inherit;
    height: inherit;
    position: fixed;
    z-index: -1;
}

*[class^="left"] {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 92%;
    left: 47%;
    color: #fff;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;

}

*[class^="right"] {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 92%;
    left: 53%;
    width: 50px;
    height: 50px;
    color: #fff;
    padding: 12px 18px;
    border: 1px solid #fff;
}

input:checked+label {
    display: none;
}

.first {
    z-index: 3;
}

.second {
    z-index: 2;
}

.third {
    z-index: 1;
}

div.third {
    z-index: 0;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.gr {
    background-color: green;
}

.gallery-contents {
    display: flex;
    align-items: center;
    width: 1600px;
    overflow: hidden;
}

.gallery-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    width: 1600px;
    flex-shrink: 0;
    transition: margin-left 0.3s;
}

.content>img {
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
}

.gallery-content>.content:nth-of-type(3)>img {
    width: 70%;
}

input[id="lr3"]:checked~.gallery-contents>.gallery-content:nth-of-type(1),
input[id="lr3"]:checked~.gallery-contents>.gallery-content:nth-of-type(2) {
    margin-left: -1600px;
}

input[id="lr4"]:checked~.gallery-contents>.gallery-content:nth-of-type(1) {
    margin-left: -1600px;
}

input[id="lr2"]:checked~.gallery-contents>.gallery-content:nth-of-type(1) {
    margin: 0;
}

label:hover {
    cursor: pointer;
}

label:active {
    background-color: rgb(255, 255, 255, 0.3);
}

.third:active {
    background-color: rgb(255, 255, 255, 0.3);
}