* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.bg {
    width: inherit;
    height: inherit;
    position: fixed;
    z-index: 0;
}

*[class^="left"] {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 92%;
    left: 47%;
    color: #fff;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    
}

*[class^="right"] {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 92%;
    right: 47%;
    width: 50px;
    height: 50px;
    color: #fff;
    padding: 12px 18px;
    border: 1px solid #fff;
}

input:checked+label {
    display: none;
}

.first {
    z-index: 3;
}

.second {
    z-index: 2;
}

.third {
    z-index: 1;
}
div.third {
    z-index: 0;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.gr {
    background-color: green;
}
.gallery-contents {
    display: flex;
    align-items: center;
    width: 1600px;
}
.gallery-content {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width: 1600px;
}