html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 252, 252);
}

.notice {
    display: flex;
    justify-content: space-between;
}