* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #efefef;
    padding: 20px;
}

.cart-contents-area {
    width: 800px;
    align-self: center;
    justify-self: center;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #dddddd;
    overflow: hidden;
}

.cart-header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #000;
    font-weight: 500;
    font-size: 27px;
    padding: 15px 0;
}

.cart-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #e2e2e2;
}

.cart-contents>.cart-content:last-of-type {
    border: none;
}

.cart-content-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cart-content-header>img {
    width: 90px;
    height: 90px;
    border-radius: 10px;
}

.cart-content-title {
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 10px;
}

.cart-content-sub {
    line-height: 1.5em;
    color: #7c7c7c;
}

.cart-content-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

span.pm {
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    padding: 3px 8px;
    margin: 0 5px;
}

.amount {
    font-weight: 700;
}

.x-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 5px 12px;
    border-radius: 50%;
    background-color: red;
    padding-top: 2px;
    padding-bottom: 6px;
}
.cart-payment {
    background-color: #efefef;
    padding: 15px 20px;
}