* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fdfdfd;
    padding: 20px;
}

.cart-contents {
    width: 800px;
    align-self: center;
    justify-self: center;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    overflow: hidden;
}

.cart-header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #000;
    font-weight: 500;
    font-size: 27px;
    padding: 15px 0;
}

.cart-content {
    padding: 20px;
}

.cart-content-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cart-content-header>img {
    width: 90px;
    height: 90px;
    border-radius: 10px;
}

.cart-content-title {
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 10px;
}

.cart-content-sub {
    line-height: 1.5em;
    color: #7c7c7c;
}