* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

footer {
    width: 100%;
    height: 500px;
    background-color: rgb(44, 58, 80);
}

footer>.top-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 350px;
    border-bottom: 0.2px solid #e2e2e2;
    padding: 60px 20px;
}

footer>.bot-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: calc(500px - 350px);
    align-items: center;
    padding: 0 20px;
}

.top-footer-sub {
    color: #fff;
}

.title {
    font-weight: 600;
    font-size: 45px;
    color: rgb(70, 119, 255)
}

.subscription {
    color: #fff;
    padding: 20px 0;
}

.bot-left {
    color: #fff;
}

.bot-right {
    color: rgb(180, 180, 180)
}

.shortcuts {
    /* df */
    display: flex;
    /* fxd */
    flex-direction: column;
}