* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

footer {
    width: 100%;
    height: 500px;
    background-color: rgb(0, 38, 255);
}

footer>.top-footer {
    border: 1px solid #e2e2e2;
}