/*
display: flex; = df
gap: 10px; = g10
fxd = flex-direction
jc = justify-content
    jcc = justify-content: center;
    jcsb = justify-content: space-between;
ai = align-items: center;
    ""
    ""
color: rgb(a, b, c) = crabc
*/