/*
box-sizing: border-box; = bx
box-shadow: 1px 1px 5px #b9b9b9; = bxsh1:1:5:#b9b9b9
#cfcfcf
bxsh:1:1:5:#dd
display: flex; = df
gap: 10px; = g10
fxd = flex-direction
jc = justify-content
    jcc = justify-content: center;
    jcsb = justify-content: space-between;
ai = align-items: center;
    ""
    ""
background-color: #fff = bc #fdfdfd #efefef
border: 1px solid #e2e2e2; = bd:1:solid:#e2e2e2
    border-bottom: 1px solid #e2e2e2; = bdb:1:s:#e2e2
border-radius: 15px; = brs15
color: rgb(a, b, c) = crabc
font-weight: 500 = fw500
font-size: 24px; = fz24
text-align: center; = tac
margin: 10px; = m10
    margin-top: 10px; = mt10
    margin-right: 10px; = mr10
    margin-bottom: 10px; = mb10
    margin-left: 10px; = ml10
*/