/*
display: flex; = df
gap: 10px; = g10
fxd = flex-direction
jc = justify-content
    jcc = justify-content: center;
    jcsb = justify-content: space-between;
ai = align-items: center;
    ""
    ""
background-color: #fff = bc
border-radius: 15px; = brs15
color: rgb(a, b, c) = crabc
font-weight: 500 = fw500
font-size: 24px; = fz24
text-align: center; = tac
margin: 10px; = m10
    margin-top: 10px; = mt10
*/