/*
display: flex; = fd
gap: 10px; = g10
fld = flex-direction
jc = justify-content
    jcc = justify-content: center;
    jcsb = justify-content: space-between;
ai = align-items: center;
    ""
    ""

*/